body{
    background: #121213;
    color: #fff;
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
}

.characterbox, .containedbox, .notcharacterbox, .eliminatedbox, .submissionbox{
    width: 50%;
    border-bottom: 1px solid #fff;
    padding: 1rem;
    float: left;
    height: 390px;
    box-sizing: border-box;
}

.submissionbox {
    border: none;
    height: 80px;
    width: 100%;
}

.characterbox, .containedbox{
    height: 310px;
}

.resultsbox{
    width: 40%;
    float: left;
    padding-right: 1rem;
    padding-left: 1rem;
    box-sizing: border-box;
    border-top: 1px solid #fff;
}

.formbox{
    width: 60%;
    float: left;
    border-right: 1px solid #fff;
    box-sizing: border-box;
    border-top: 1px solid #fff;
}

input {
    margin-bottom: 1rem;
}

h1 {
    text-align: center;
    color: #9a60c4;
    text-transform: uppercase;
}

#p1 {
    word-wrap: break-word;
    padding-bottom: 1rem;
}

.search {
    float: right;
    height: 50px;
    width: 170px;
    font-size: 20px;
    font-weight: bold;
    background: #9a60c4;
    color: #fff;
    border: none;
}

form input[type="text"] {
    text-transform: lowercase;
}

@media (max-width: 1000px) {
    .container {
        display: flex; 
        flex-direction: column;
    }
    
    .resultsbox, .formbox{
        width: 100%;
    }

    .resultsbox {
        order: 1;
    }

    .formbox {
        order: 2;
        border-right: none;
    }
}